name: CI
on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        redis-version: [7]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@master
        with:
          ruby-version: 3.4.8
          bundler-cache: true

      - name: Install Dependencies
        run: |
          sudo apt install -yqq build-essential
          gem install bundler

      - name: Redis Server in GitHub Actions
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: ${{ matrix.redis-version }}

      - name: Build and test with rspec
        run: |
          bundle exec rspec
